<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.device.bluetooth</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systemevents</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-only</key>
	<array>
		<string>/private/var/log/lockmenow.log</string>
		<string>/private/etc/asl.conf</string>
	</array>
	<key>com.apple.security.temporary-exception.sbpl</key>
	<array>
		<string>(allow mach-lookup (global-name #"com.apple.coresymbolicationd"))</string>
		<string>(allow mach-lookup (global-name #"com.apple.loginwindow.notify"))</string>
		<string>(allow mach-lookup (global-name-regex "com.apple.logind"))</string>
		<string>(allow network-outbound (literal "/private/var/run/usbmuxd"))</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.screensaver</string>
	</array>
</dict>
</plist>
